.footer {
    background: color #000;
    position: fixed;
    bottom: 0;
    color: white;
    text-align: center;
    width: 100%;
    font-size: 20px;
}
.footer:hover {
    position: fixed;
    bottom: 0;
    color: rgb(13, 110, 253);
    text-align: center;
    width: 100%;
    font-size: 20px;
}
