#nav{
    background-color: #1F1C18;
    
}
#nav h3 {width: 100%;
    text-align: center;
    color: white;
}
#nav h3:hover {width: 100%;
    text-align: center;
    color: rgb(221, 0, 49);
}
#listaid{
    font-size: 18px;
    border-radius: 3px;
    background-color:rgb(13, 110, 253);
    /*rgb(118, 17, 5); */
    color: white;
    padding: 3px;
}